<script src="Script-hiddenManagement.js"></script>

<p>This is a hidden management page for doing initial
    date load into the database.  
</p>

<button id="createTablesBtn" type="button" class="btn btn-success">Create Tables</button>