<!-- index.hbs -->
<h1>Website sub pages</h1>
<h1>Use navigation bar above to view sub pages</h1>

<p>About - A short description of the restaurant</p>
<p>Create Account - Allows customer to create an account to order a pizza</p>
<p>Order - Fill out form to order pizza</p>
<p>Manage Toppings - Add/delete toppings for use by restaurant owner</p>
<p>Manage Kids Menus - Add/delete kids menu items from an order</p>
<p>Order History - Allows a customer to review orders they have placed in the past</p>
