<script src="Script-kidsMenus.js"></script>

<!-- Kids Menu Management Page -->

<form>
    <label for="balloonChoice">Get balloon item:</label>
    <input type="checkbox" id="balloonDelete" name="balloonDelete">

    <label for="candyChoice">Get candy item:</label>
    <input type="checkbox" id="candyDelete" name="candyDelete">

    <label for="ballChoice">Get ball item:</label>
    <input type="checkbox" id="ballDelete" name="ballDelete">

    <label for="autographChoice">Get autograph item:</label>
    <input type="checkbox" id="autographDelete" name="autographDelete">

    <input type="submit" value="Submit Kids  Menu Choices">
</form>