<script src="Script-toppings.js"></script>

<!-- Toppings Management Page -->

<form>
    <label for="toppingName">Topping Name:</label>
    <input type="text" id="toppingName" name="toppingName">

    <label for="toppingcalories">Topping Calories:</label>
    <input type="text" id="toppingcalories" name="toppingcalories">

    <label for="toppingPrice">Topping Price:</label>
    <input type="text" id="toppingPrice" name="toppingPrice">

    <label for="toppingDelete">Delete Topping:</label>
    <input type="checkbox" id="toppingDelete" name="toppingDelete">

    <input type="submit" value="Submit Topping">
</form>